@use '../utils/mixins/fonts';

#film {

  .film__header {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .w__play__btn {
      position: absolute;
      top: -10%;
      left: 0;
      z-index: 10;
      @include fonts.mono_12;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    .w__film__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      .film__video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
      }

      .film__video__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
      }
    }

    .film__header__controls {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 66.25rem;

      .w__film__video__progress {
        position: relative;
        width: 100%;
        height: 1.5rem;

        .progressTime {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-50%);
          @include fonts.mono_12;
          opacity: 0;
          pointer-events: none;
        }

        .under_lineprogress, .lineprogress {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: white;
          transform-origin: left;
          cursor: pointer;
        }

        .under_lineprogress {
          opacity: .25;
          transform: scaleX(0);
        }

        .lineprogress {
          //transform: scaleX(.25);
          transform: scaleX(0);
        }
      }

      .w__controls__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        margin-top: .35rem;

        .film__inline_controls {
          display: flex;
          gap: .5rem;
        }

        .controls__buttons_text {
          @include fonts.mono_12;
          transform: translateY(100%);
          cursor: pointer;
        }

        .controls__buttons__inline {
          display: flex;
          gap: 1rem;
        }
      }

    }

    .film__header__informations {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);

      .film__header__informations_title {
        @include fonts.grotesk;
        font-size: 1.25rem;
        text-align: center;
        text-transform: uppercase;
        transform: translateY(100%);
      }

      .film__header__informations__inline {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin: 1rem auto auto;
        width: fit-content;

        .film__header__informations_name {
          opacity: .5;
        }

        p {
          @include fonts.mono_12;
          text-align: center;
          transform: translateY(100%);
        }
      }

    }
  }

  .w__film_informations {
    padding-top: 12rem;
  }

  .film_informations {
    width: 100%;
    padding: 0 21.8rem 12rem;

    .w__film_description_t {
      @include fonts.mono_12;
      word-break: break-word;
    }

    .w__film_description_d {
      @include fonts.grotesk;
      font-size: 1rem;
      margin-top: .5rem;
      word-break: break-word;
    }
  }
}

.GalleryProject {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 1.25rem;

  .w_galleryProject_image {
    position: relative;
    width: 28.8rem;
    height: auto;
    z-index: 10;

    .galleryProject_image {
      position: relative !important;
      width: 28.8rem !important;
      height: auto !important;
      object-fit: contain !important;
      cursor: auto;
    }
  }
}


@media screen and (max-width: 1024px) {

  .GalleryProject {
    padding: .6rem;
    gap: .30rem;

    .w_galleryProject_image {
      width: calc(50% - .15rem);

      .galleryProject_image {
        width: 100% !important;
        height: 100% !important;
      }
    }

  }

  #film {
    min-height: 75vh;

    .film__header {
      height: auto;
      margin-top: 5rem;

      .film__header__controls {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0 1.25rem;
      }

      .w__film__video {
        position: relative;
        overflow: hidden;
        padding: 1rem 1rem 0 1rem;

        .film__video {
          object-fit: contain;
        }
      }

      .film__header__informations {
        position: relative;
        width: 22rem;
        bottom: auto;
        margin: 4rem 0;
      }

    }

    .w__film_informations {
      padding-top: 0;
    }

    .film_informations {
      padding: 2rem;
      text-align: center;

      .w__film_description_d {
        font-size: 1rem;
      }
    }
  }
}

.react-medium-image-zoom-overlay {
  z-index: 9999 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.react-medium-image-zoom {
  cursor: pointer !important;
}
